body {
  background-image: url("./img/background-02.png");
  background-size: 92%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-position: right center;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-left: 300px;
  padding-right: 300px;
  
  word-spacing: 3px;
  color:#0039a6;
}
@media screen and (max-width: 750px) {
  body {
    width: 100%; 
  }
}
h1 {
  
  font-family: "Chalkboard SE", Regular;
  font-size: 28px;
  color: #0039a6;
  position: relative;
  left:150px;
  top:650px;
  text-align: right;
  direction: ltr;

}
h2 {
  
  font-family: "Chalkboard SE", Regular;
  font-size: 9px;
  color: #0039a6;
  position: relative;
  text-align: left;
  direction: ltr;

}


audio { display:none;}

.catogory{
	font-family: "Chalkboard SE", Regular;
	font-size: 18px;
	color: #0039a6;
}

.typewriter1 h1 {
   overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid #0039a6;
  font-size: 38px;
  white-space: nowrap;

  animation: typewriter 3s steps(44) 1s 1 normal both,
  blinkTextCursor 400ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {

  from {
    border-right-color: #0039a6;
  }

  to {
    border-right-color: transparent;
  }

}


.typewriter1 h2 {
   overflow: hidden;
  position: relative;
  top:650px;
  left: 1900px;
  width: 18em;
  border-right: 2px solid #0039a6;
  font-size: 18px;
  white-space: nowrap;

  animation: typewriter 3s steps(44) 2s 1 normal both,
  blinkTextCursor 400ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {

  from {
    border-right-color: #0039a6;
  }

  to {
    border-right-color: transparent;
  }

}

.one{
	position: absolute;
	left: 340.715px;
	top:310.412px;
	transform: rotate(-20deg);
	transform: skewX(9deg);
	transform: skewY(-20deg);

}

.one:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       cursor: grab;
        transform: translateX(-3px);
        transform: rotate(-20deg);
	    transform: skewX(9deg);
	    transform: skewY(-20deg);

}

.two{
	position: absolute;
	left:265px;
	top:700px;
}
.two:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       cursor: grab;
 }

 .three{
 	position: absolute;
 	left:740px;
 	top:601px;
 }

.three:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       transform: rotate(4deg);
       cursor: grab;
 }

.four{
	position: absolute;
	top:350px;
	left: 850px;
	transform: rotate(4deg);
}
.four:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       transform: rotate(4deg);
       cursor: grab;
 }

 .five{
 	position: absolute;
 	top:50px;
 	left:1150px;

 }
 .five:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       cursor: grab;
 }

.six{
	position: absolute;
	top: 230px;
	left:1240px;

}
.six:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       cursor: grab;
 }

.seven{
	position: absolute;
	top:300px;
	left:730px;
	transform: rotate(4deg);
}

.seven:hover
{
       box-shadow:
       1px 1px #53a7ea,
       2px 2px #53a7ea,
       3px 3px #53a7ea;
       transform: rotate(4deg);
       cursor: grab;
 }

 .eight{
 	font-family: "Chalkboard SE", Regular;
	font-size: 18px;
	color: #0039a6;
	position: absolute;
  top:30px;
	left: 30px;
 }


 .sec{
  padding-top: 3px;
  background-color: #f6f6f6;
  font-family: "Lato", Regular;
  font-size: 98px;
}
