h1{
	font-family: "Chalkboard SE", Regular;
	font-size: 70px;
	color:#0039a6;
}


h2{
	font-family: "Montserrat", Bold;
	font-size: 19px;
	color:#0039a6;

}

.topnav {
  overflow: hidden;
  background-color: #0039a6;
  font-family: "Montserrat", Bold;
font-size: 19px;
color:#0039a6;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ff585f;
  color: white;
}

body{
  background-color: white;
  font-family: "Montserrat", Bold;
  font-size: 18px;
  word-spacing: 3px;
  color:#0039a6;
}


@media screen and (max-width: 750px) {
  body {
    width: 100%; 
  }
}

 .sec{
   background-color: white;
  padding-top: 10px;
  float: left;
  padding-right: 320px;
  padding-left: 100px;
  width: 800px;
}

img{
	float: left;

}