h1{
	font-family: "Chalkboard SE", Regular;
	font-size: 70px;
	color:#0039a6;
}


h2{
	font-family: "Lato", Bold;
	font-size: 19px;
	color:#0039a6;

}

body{
    background-image: url("./img/background-02.png");
    background-repeat: no-repeat;
    background-size: 100%;

	background-color: #f8f8f8;
	padding-top: 10px;
	padding-left: 300px;
	padding-right: 300px;
	font-family: "Lato", Regular;
	font-size: 18px;
	word-spacing: 3px;
	color:#0039a6;
}

@media screen and (max-width: 750px) {
  body {
    width: 100%; 
  }
}

.sec{
	padding-top: 10px;
  background-color: #f7f7f7;
}

img{
	float: left;

}