h1{
	font-family: "Chalkboard SE", Regular;
	font-size: 70px;
	color:#0039a6;
}


h2{
	font-family: "Lato", Bold;
	font-size: 19px;
	color:#0039a6;

}

body{
    background-image: url("./img/background-02.png");
  background-repeat: no-repeat;
  background-size: 100%;
background-color: #f8f8f8;
	align-content: center;
	padding-top: 10px;
	padding-left: 270px;
	padding-right: 270px;
	font-family: "Lato", Regular;
	font-size: 18px;
	word-spacing: 3px;
	color:#0039a6;
	text-align: left;
}
.sec{
	padding-top: 10px;
  background-color: #f7f7f7;
}

img{
	float: left;
}